{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "sonarjs"],
    "rules": {
        "@typescript-eslint/array-type": "error",
        "@typescript-eslint/comma-dangle": "error",
        "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "typeParameter",
                "format": ["PascalCase"],
                "prefix": ["T"]
            }
        ],
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": { "delimiter": "semi", "requireLast": true },
                "singleline": { "delimiter": "semi", "requireLast": true }
            }
        ],
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-extra-parens": ["error", "all", {"nestedBinaryExpressions": false }],
        "@typescript-eslint/no-unnecessary-type-assertion": "error",
        "@typescript-eslint/type-annotation-spacing": "error",
        "array-bracket-spacing": "error",
        "arrow-spacing": "error",
        "block-spacing": "error",
        "camelcase": "error",
        "curly": "error",
        "func-call-spacing": "error",
        "generator-star-spacing": ["error", { "before": false, "after": true, "anonymous": "neither" }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "key-spacing": "error",
        "max-len": ["error", { "code": 120 }],
        "max-statements-per-line": ["error", { "max": 1 }],
        "no-console": "error",
        "no-dupe-keys": "error",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-extra-semi": "error",
        "no-irregular-whitespace": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-negated-condition": "error",
        "no-self-assign": "error",
        "no-trailing-spaces": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unused-expressions": "error",
        "no-useless-return": "error",
        "no-var": "error",
        "no-with": "error",
        "object-curly-spacing": ["error", "always"],
        "object-shorthand": "error",
        "one-var": ["error", "never"],
        "one-var-declaration-per-line": "error",
        "operator-assignment": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-object-spread": "error",
        "require-yield": "error",
        "rest-spread-spacing": "error",
        "quotes": ["error", "single"],
        "semi": "error",
        "semi-spacing": "error",
        "sonarjs/no-all-duplicated-branches": "error",
        "sonarjs/no-collapsible-if": "error",
        "sonarjs/no-duplicated-branches": "error",
        "sonarjs/no-extra-arguments": "error",
        "sonarjs/no-identical-conditions": "error",
        "sonarjs/no-identical-expressions": "error",
        "sonarjs/no-inverted-boolean-check": "error",
        "sonarjs/no-one-iteration-loop": "error",
        "sonarjs/no-redundant-boolean": "error",
        "sonarjs/no-redundant-jump": "error",
        "sonarjs/no-same-line-conditional": "error",
        "sonarjs/no-use-of-empty-return-value": "error",
        "sonarjs/prefer-immediate-return": "error",
        "sonarjs/prefer-object-literal": "error",
        "sonarjs/prefer-single-boolean-return": "error",
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "switch-colon-spacing": "error"
    }
}
